@model int

<a href="@Url.Action("Update/" + Model)" class="btn btn-info btn-icon btn-icon-mini" data-original-title="Edit Task">
    <i class="now-ui-icons ui-2_settings-90"></i>
</a>
<a href="@Url.Action("Delete/" + Model)" class="btn btn-danger btn-icon btn-icon-mini" data-original-title="Remove">
    <i class="now-ui-icons ui-1_simple-remove"></i>
</a>