@model IEnumerable<MyResume.Models.Post>
@{
    ViewData["Title"] = "My Blog";
}

<div class="main_content">
    <div class="main_title_container d-flex flex-column align-items-start justify-content-end">
        <div class="main_subtitle">What I am writing</div>
        <div class="main_title">@ViewData["Title"]</div>
    </div>
    <div id="content" class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
        <!-- Sorting -->
        <div class="clearfix">
            @if (ViewBag.HasPreviousPage)
            {
                <div class="services_button pull-left">
                    <a href="@Url.Action("Index", "Blog", new { page = ViewBag.PreviousPage })">
                        Previous
                    </a>
                </div>
            }
            @if (ViewBag.HasNextPage)
            {
                <div class="services_button pull-right">
                    <a href="@Url.Action("Index", "Blog", new { page = ViewBag.NextPage })">
                        Next
                    </a>
                </div>
            }
        </div> <hr />
        <!-- Experience -->
        <div class="experience">
            @foreach (var item in Model)
            {
                <partial name="_BlogPostPartial" model="item" />
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('content').on('click', '.pagination a', function () {
                var url = $(this).attr('href');
                $('#content').load(url);
                return false;
            })
        });
    </script>
}