@model MyResume.Models.Post

<!-- Experience Item -->
<div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
    <div><div class="exp_time">@Model.CreatedAt.ToShortDateString()</div></div>
    <div class="exp_content">
        <div class="exp_title_container">
            @Html.ActionLink(Model.Title, "Post", "Blog", new { year = Model.CreatedAt.Year, month = Model.CreatedAt.Month, id = Model.Id }, new { @class = "exp_title" })
             <div class="exp_subtitle">Wrote by @Model.User.UserName</div>
        </div>
        <div class="exp_text">
            <p>@Model.Body</p>
        </div>
    </div>
</div>